<html>
  <head>
    <title>Welcome to ansible</title>
  </head>
  <body>
  <h1>nginx, configured by Ansible</h1>
  <p>If you can see this, Ansible successfully installed nginx.</p>

  <p>{{ ansible_managed }}</p>
  <h2>Inventory vars:</h2>
  <p>{{ test_all }}</p>
  <p>{{ test_nodes }}</p>
  </body>
</html>

